@model MetalBandBakery.MVC.Models.Bake

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Editing Product: @Model.Name</h3>
@using (Html.BeginForm("BakeEdited", "Bake", FormMethod.Post))
{
    {
        @Model.Stock = 0;
        <input type="hidden" name="OldStock" .Index" value="@Model.Stock">

        @Html.TextBoxFor(model => model.Sort, new { @readonly = "readonly" })
        <br />
        @Html.TextBoxFor(model => model.Name, new { @readonly = "readonly" })
        <br />
        @Html.TextBoxFor(model => model.Price)
        <br />
        @Html.TextBoxFor(model => model.Stock)
        <br />
        <input type="submit" value="Edit" />
    }
}