@model MetalBandBakery.MVC.ViewsModels.EditedBakeViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Warehouse: @Model.Warehouse</h3>
<h3>Editing Product: @Model.Warehouse (Sort: @Model.bake.Sort)</h3>
@using (Html.BeginForm("BakeEdited", "Bake", FormMethod.Post))
{
    {
        @Html.TextBoxFor(model => model.Warehouse, new { @readonly = "readonly", style = "display: none;" })
        <br />
        @Html.TextBoxFor(model => model.bake.Sort, new { @readonly = "readonly", style = "display: none;" })
        <br />
        @Html.TextBoxFor(model => model.bake.Stock, new { @Value = "0" })
        <br />
        <input type="submit" value="Edit" />
    }
}